html, body {
	touch-action: none;
}

#container {
	touch-action:none;
}

#board {
	height:100%-400px;
	width:100%;
	/* border: 1px #e1e1e1 solid; */
	box-shadow: 0px 0px 12px 2px #e1e1e1;
	cursor: default !important;
	background: url('../assets/grid-min.png');
	background-size: 40px 40px;
	opacity:90%;
}

#writeblock-guide {
	position:absolute;
	height:40px;
	width:100px;
	border: 1px solid red;
	background: red;
	z-index:-10;
	top:8px;
	left:8px;
}

#writeblock {
	height:200px;
	width: 100%;
	border: 1px #e1e1e1 solid;
	box-shadow: 0px 0px 12px 2px #e1e1e1;
	cursor: default !important;
	background-image: url('../assets/grid-min.png');
	background-size:200px 200px;
	opacity:90%;
	/* border: 1px solid blue; */
}

#gutter {
	position:absolute;
	height:200px;
	border: 1px solid red;
	background: red;
	z-index:-10;
}

#mask {
	position:absolute;
	right:0px;
	top: 0px;
	width:0%;
	height:200px;
	background:white;
	border: 1px solid white;
	z-index=10;
	visibility:hidden;
}

.button {
	border: 1px solid black;
	width: 120px;
	float:left;
	height:15px;
}

.small {
	width:40px;
}

#newline {
	background:grey;
	float:right;
}

#oldline {
	background:darkgrey;
	float:right;
}

#move-left {
	background:pink;
}

#erase {
	background:lightblue;
}

#insert-bullet {
	text-align:center;
}

#black-pen {
	background:black;
}

#blue-pen {
	background:blue;
}

#red-pen {
	background:red;
}

#green-pen {
	background:green;
}


