html, body
{
	touch-action:none;
	overflow:hidden;
	user-select: none;
	background: powderblue;
}

.box
{
	display:flex;
	border:black 1px solid;
	height:100%;
}

#board {
	background: url('../assets/grid-min-dark.png');
	background-size:80px;
	width:100%;
	height:100%;
}

#writeblock-guide {
	position:absolute;
	top:8px;
	left:8px;
	height:80px;
	width:20%;
	background: powderblue;
	opacity:50%;
}

#writer {
	position:fixed;
	height:500px;
	width: 100%;
	bottom:0px;
}

#buttons
{
	height:100px;
	width:100%;
	background:yellow;
}

#writeblock {
	position:absolute;
	background-image: url('../assets/grid-min-dark.png');
	background-size: 400px 400px;
	height:400px;
	width:100%;
	left:0px;
	bottom:0px;
	opacity:85%;
}

#gutter {
	border: 2px red dashed;
	position:absolute;
	width:100px;
	height:400px;
	background:darkblue;
	opacity:50%;
	right:0px;;
	bottom:0px;
}

#mask {
	position:absolute;
	width:1200px;
	height:400px;
	background:white;
	bottom:0px;
	right:0px;
	opacity:100%;
	visibility: hidden;
}

#backspace {
	float:left;
	width:100px;
	line-height:90%;
	font-size:90px;
}

#carriagereturn {
	float:left;
}

#up {
	float:left;
}

.pen {
	float:right;
	font-size:70px !important;
	line-height:120% !important;
}

#black {
	background:black;
}

#blue {
	background: blue;
	float:right;
}

#red {
	background: red;
	float:right;
}

#green {
	background: green;
	float:right;
}

#clear {
	background: lightgrey;
	float:right;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge, IE */
  user-select: none; /* Modern browsers */
}

.button {
	display:inline-block;
	border: 3px white solid;
	width:100px;
	height:100%;
	line-height:80%;
	background:black;
	text-align:center;
	font-size:100px;
	color:white;
	font-weight:bold;
}

#save {
	float: right;
	background:yellow;
	color:black;
	border: 3px black solid;
	margin-right:15px;
	font-size:70px;
	line-height:140%;
}
